/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #37cec4; 
    border-radius: 8px;
}

/*handover*/
::-webkit-scrollbar-thumb:hover {
    background: #5f685f; 
}